<div id="products" class="row" ng-repeat="category in categories| filter: {slug : slug}">
    <div class="col-lg-4 col-sm-12" ng-repeat="product in products| filter : {category : category.title}">
        <div class="card" style="width: 20rem;">
            <a href="#/products/{{product.sku}}">
                <img class="card-img-top" ng-src="{{product.image}}">
                <div class="card-body">
                    <h4 class="card-title"><i ng-show="product.isOnSale == 'Yes'" class="material-icons">bookmark</i>{{product.title}}</h4>

                </div>
                <div class="card-footer text-muted">
                    <p>{{product.price| currency}}</p>
                </div>
            </a>
        </div>
    </div>
</div>
