<header id="header" class="alt" ng-repeat="category in categories| filter: {slug : slug}" style="background-image: url({{category.image}})">
    <div class="inner">
        <h1 ng-repeat="category in categories| filter: {slug : slug}">{{category.title}}</h1>
    </div>
</header>

<div id="products" class="container" ng-repeat="category in categories| filter: {slug : slug}">
    <div class="row">
        <div class="col-lg-6 col-sm-12" ng-repeat="product in products| filter : {category : category.title}">
            <div class="card" style=" margin-top: 10%; width: 29rem;">
                <a href="#/products/{{product.sku}}">
                    <img class="card-img-top" ng-src="{{product.image}}">
                    <div class="card-body">
                        <h4 class="card-title"><i ng-show="product.isOnSale == 'Yes'" class="material-icons">bookmark</i>{{product.title}}</h4>

                    </div>
                    <div class="card-footer text-muted">
                        <p>{{product.price| currency}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
