<div class="my-drawing" style="margin-top: 5%"></div><br><br><br>

<!-- kick it off -->
<script>
    var lc = LC.init(
            document.getElementsByClassName('my-drawing')[0],
            {
                imageURLPrefix: 'literallycanvas/img',
                toolbarPosition: 'bottom',
            }
    );

    $(function () {
        $(":file").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = imageIsLoaded;
                imagen = reader.readAsDataURL(this.files[0]);
            }
        });
    });

    function imageIsLoaded(e) {
        var newImage = new Image()
        newImage.src = e.target.result;
        lc.saveShape(LC.createShape('Image', {x: 10, y: 10, image: newImage}));
    };

    $('.controls.export [data-action=export-as-png]').click(function(e) {
        e.preventDefault();
        window.open(lc.getImage().toDataURL());
    });

</script>

<style>
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
</style>

<form class="controls export align-center">
    <input type="submit" data-action="export-as-png" value="Exportar">
    <input type="file" name="file" id="file" class="inputfile" />
    <label class="button" for="file">Añadir imagen</label>
</form>
